.threeDCanvasItself {
  --shdow_color: hsla(0, 0%, 0%, 0.3);

  border: 2px solid (var(--shdow_color));
  border-radius: 0.8rem;

  box-shadow: 0 2.8px 2.2px var(--shdow_color), 0 6.7px 5.3px var(--shdow_color),
    0 12.5px 10px var(--shdow_color), 0 22.3px 17.9px var(--shdow_color),
    0 41.8px 33.4px var(--shdow_color), 0 100px 80px var(--shdow_color);
}

.heroText {
  --shdow_color: hsla(0, 0%, 0%, 0.3);
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 2.8px 2.2px var(--shdow_color),
    0 6.7px 5.3px var(--shdow_color), 0 12.5px 10px var(--shdow_color),
    0 22.3px 17.9px var(--shdow_color), 0 41.8px 33.4px var(--shdow_color),
    0 100px 80px var(--shdow_color);
}

.inputTextField {
  background-color: rgba(244, 244, 244, 0.2);
  font-size: 2em;
  padding: 1em;
  outline: none;
  inset: 2;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.705);
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.inputTextField::placeholder {
  color: rgba(255, 255, 255, 0.9);
  /* color: rgba(39, 39, 39, 0.339); */
}

.inputTextField:active,
.inputTextField:hover,
.inputTextField:focus-visible,
.inputTextField:focus {
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.767);
  --shdow_color: hsla(0, 0%, 0%, 0.2);
  box-shadow: 0 2.8px 2.2px var(--shdow_color), 0 6.7px 5.3px var(--shdow_color),
    0 12.5px 10px var(--shdow_color), 0 22.3px 17.9px var(--shdow_color),
    0 41.8px 33.4px var(--shdow_color), 0 100px 80px var(--shdow_color);
}

.inputTextField:hover::placeholder {
  color: rgba(39, 39, 39, 0.9);
}

.inputTextField:active,
.inputTextField:hover,
.inputTextField:focus-visible,
.inputTextField:focus .inputTextField::placeholder {
  color: rgba(47, 47, 47, 0.711);
}
/* item like movie page torrent page and upload page */
.itemCard {
  border-radius: 0.6em;
  padding: 0.3em;
  width: 25vw;
  height: 12vw;
  --shdow_color: hsla(0, 0%, 0%, 0.3);
  background-color: rgba(244, 244, 244, 0.2);
  /* box-shasdow: inset 0px 20px 42px 31px var(--shdow_color); */
  border-top: 2px solid rgba(255, 255, 255, 0.569);
  position: relative;
  top: -4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.itemCard:hover {
  box-shadow: 0 2.8px 2.2px var(--shdow_color), 0 6.7px 5.3px var(--shdow_color),
    0 12.5px 10px var(--shdow_color), 0 22.3px 17.9px var(--shdow_color),
    0 41.8px 33.4px var(--shdow_color), 0 100px 80px var(--shdow_color);
}
.itemCard::before {
  content: "";
  width: 4em;
  height: 0.2em;
  position: absolute;
  top: -0.8em;
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 0.5em;
  filter: blur(0.08em);
  animation: identifierLight 1s 3.5s ease-in-out forwards;
}

.itemCard::after {
  content: "";
  width: 6em;
  height: 3em;
  position: absolute;
  top: -0.8em;
  border-radius: 1em;
  background-color: transparent;
  filter: blur(1em);
  animation: identifierRay 1s 3.5s ease-in-out forwards;
}

@keyframes identifierLight {
  40%,
  100% {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.679);
  }
  0%,
  50% {
    border: 2px solid transparent;
    background-color: transparent;
  }
}

@keyframes identifierRay {
  45%,
  100% {
    background-color: rgba(255, 255, 255, 0.249);
  }
  0%,
  50% {
    background-color: transparent;
  }
}

.itemCardData {
  font-size: 0.7em;
  line-height: 1.3em;
  text-align: center;
  font-weight: 300;
}
